<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIViewGeometryHW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6836EA0E1B4067D1004B8A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6836EA271B4067D2004B8A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6836EA321B4067D2004B8A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
