<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData.Intro.HW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68079A211B74AA86007C169D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68079A3A1B74AA86007C169D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68079A451B74AA87007C169D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
