<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchesHW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>681FD99F1B451A5C00CED70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681FD9B81B451A5C00CED70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681FD9C31B451A5C00CED70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
