<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData.HW.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68BB16C21B85E1BE00942BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BB16DE1B85E1BE00942BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BB16E91B85E1BF00942BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
